@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

@model DeskEntity.Model.BookingSeat

<html>
<body style="background:-webkit-linear-gradient(left, #fff, #000)">
    <section class="vh-70 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Seat Booking</h3>
                            <form method="post" enctype="multipart/form-data">

                                <div class="row">
                                    <div class="col-md-12 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label">Branch Name</label>
                                            <select type="location" name="location" class="form-control form-control-lg" required>
                                                <option value="">Select</option>
                                                <option value="">Bengaluru</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-md-12 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label">Building Name</label>
                                            <select type="location" name="location" class="form-control form-control-lg" required>
                                                <option value="">Select</option>
                                                <option value="">JP Nagar</option>
                                            </select>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline w-100">
                                            <label class="form-label">From Date</label>
                                            <input type="date" asp-for="FromDate" class="form-control form-control-lg"
                                                   placeholder="From Date" required>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label">To Date</label>
                                            <input type="date" asp-for="ToDate" class="form-control form-control-lg"
                                                   placeholder="To Date" required>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 mb-4 pb-2">
                                        <div class="form-outline">
                                            <label class="form-label">Shift Time</label>
                                            <select asp-for="SeatShiftTime" class="form-control form-control-lg" asp-items="@ViewBag.shiftTimings" required></select>
                                        </div>


                                    </div>
                                    <div class="col-12">
                                        <div class="form-outline">
                                            <label class="form-label">Floor</label>
                                            <select asp-for="Seat.FloorId" class="form-control form-control-lg" asp-items="@ViewBag.FloorList" required></select>
                                        </div>
                                    </div>
                                </div>
                                <center>
                                    <div class="mt-4 pt-2">
                                        <input type="reset" value="Reset" class="btn btn-outline-secondary btn-lg" />
                                        <input type="submit" onclick="myFunction()" value="Book Seat" class="btn btn-dark btn-lg" />
                                    </div>
                                </center>
                                @if (ViewBag.status == "Ok")
                                {
                                    <br />
                                    <div class="alert alert-success">
                                        @ViewBag.message
                                    </div>
                                }
                                else if (ViewBag.status == "Error")
                                {
                                    <br />
                                    <div class="alert alert-danger">
                                        @ViewBag.message
                                    </div>
                                }
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function myFunction() {
            let val = confirm("Are you sure you want move next?");
            if (val == false) {
                return event.preventDefault();
            }
        }
    </script>
</body>
</html>