@model DeskEntity.Model.Employee;
@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}


<html>
<body style="background:-webkit-linear-gradient(left, #fff, #000)">
    <section class="vh-70 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Edit Profile</h3>
                            <form method="post" enctype="multipart/form-data">

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label">Employee Id</label>
                                            <input type="text" asp-for="EmployeeID" class="form-control form-control-lg" placeholder="Employee Id" disabled />
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline">
                                            <label class="form-label">Employee Name</label>
                                            <input type="text" asp-for="EmployeeName" class="form-control form-control-lg" placeholder="Your Name" required />
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div class="form-outline w-100">
                                            <label class="form-label">Gender</label>
                                            <select class="form-control form-control-lg" asp-for="Gender" required>
                                                <option>Select</option>
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                                <option value="O">Others</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label">Employee Number</label>
                                            <input type="text" asp-for="EmployeeNumber" class="form-control form-control-lg" placeholder="Your Employee Number" required />
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4 pb-2">
                                        <div class="form-outline">
                                            <label class="form-label">Phone</label>
                                            <input type="text" asp-for="PhoneNumber" class="form-control form-control-lg" placeholder="Your Phone Number" required />
                                        </div>


                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label">Role</label>
                                            <input type="text" asp-for="Role" class="form-control form-control-lg" placeholder="Your Role" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 mb-4">
                                        <div class="form-outline">
                                            <label class="form-label">Profile Picture</label>
                                            <input type="file" id="poster" name="poster" class="form-control form-control-lg" placeholder="Choose File" required />
                                        </div>
                                    </div>
                                </div>
                                <center>
                                    <div class="mt-4 pt-2">
                                        <input type="reset" value="Reset" class="btn btn-outline-secondary btn-lg" />
                                        <input type="submit" onclick="editFunction()" value="Update" class="btn btn-dark btn-lg" />
                                    </div>
                                </center>
                                @if (ViewBag.status == "Ok")
                                {
                                    <br />
                                    <div class="alert alert-success">
                                        @ViewBag.message
                                    </div>
                                }
                                else if (ViewBag.status == "Error")
                                {
                                    <br />
                                    <div class="alert alert-danger">
                                        @ViewBag.message
                                    </div>
                                }
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function editFunction() {
            let val = confirm("Are you sure you want to edit this?");
            if (val == false) {
                return event.preventDefault();
            }
            alert("Your Profile is Updated!");
        }
    </script>
</body>
</html>