@model DeskEntity.Model.Employee;
@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<body style="background-color:#f0f8ff;">
    <br />
    <a asp-area="" asp-controller="Employee" asp-action="Profile"><img class="img-fluid" style="height:35px" src="https://img.icons8.com/fluency/512/circled-left.png"></a>

    <h2 style="color:#003399" class="font-weight-bolder text-uppercase" align="center">Edit Your Details</h2>

    <div style="font-family:'Roboto',sans-serif;padding:55px">
        <form method="post" enctype="multipart/form-data">
            <div class="col-4 d-inline-block align-top" style=" margin-right:50px;margin-left:270px">
                <div class="form-group">
                    <label style="color:#003399;font-size:20px">Employee ID</label>
                    <input type="text" asp-for="EmployeeID" class="form-control" placeholder="Enter Employee ID" required />
                </div>
                <div class="form-group">
                    <label style="color:#003399;font-size:20px">Employee Name</label>
                    <input type="text" asp-for="EmployeeName" class="form-control" placeholder="Enter Employee Name" required />
                </div>
                <div class="form-group">
                    <label style="color:#003399;font-size:20px">Phone</label>
                    <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="Enter Phone Number" required />
                </div>
                <div class="form-group">
                    <label style="color:#003399;font-size:20px">Role</label>
                    <input type="text" asp-for="Role" class="form-control" placeholder="Enter Employee Role" required />
                </div>
            </div>
            <div class="col-4 d-inline-block align-top">
                <div class="form-group">
                    <label style="color:#003399;font-size:20px">Employee Number</label>
                    <input type="text" asp-for="EmployeeNumber" class="form-control" placeholder="Enter Employee number" required />
                </div>
                <div class="form-group">
                    <label style="color:#003399;font-size:20px">Gender</label>
                    <select asp-for="Gender" asp-items="@ViewBag.genderlist" class="form-control" required></select>
                </div>

                <input type="submit" value="Update" onclick="editFunction()" class="btn btn-outline-success" />
                <input type="reset" value="Reset" class="btn btn-outline-secondary" />

                @if (ViewBag.status == "Ok")
                {
                    <br />
                    <br />
                    <div class="alert alert-success">
                        @ViewBag.message
                    </div>
                }
                else if (ViewBag.status == "Error")
                {
                    <br />
                    <br />
                    <div class="alert alert-danger">
                        @ViewBag.message
                    </div>
                }
            </div>
        </form>
    </div>
</body>