

<h1>GetSeatsByFloorId1</h1>

@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}



<div>
    <a asp-controller="BookingRoom" asp-action="Index">Booking Room</a>

</div>


@model IEnumerable<DeskEntity.Model.Room>
@*//this name should be the name of projects under dependencies after adding referrences in MvcUi*@


    <body>
  
        <div class="container">
            <center>
                <h2 class="text-light text-center">Select Your Room</h2>
                <div class=" row">
                    @{
                        int c = 0;

                        @foreach (var item in Model)
                        {


                            @if (item.RStatus == false)
                            {


                                <div class="col-2">
                                    <div>
                                    <a asp-controller="Employee" asp-action="GetSeatsByFloorId1" asp-route-RoomId="@item.RoomId" value="room" class="btn">
                                            Room Num:@item.RoomNumber
                                            <svg width="70" height="70" style="border-radius:50%">
                                                <rect x="5" y="5" rx="5" ry="5" width="50" height="50"
                                                style="fill:green;stroke:black;stroke-width:5;opacity:0.5" />
                                                </svg>
                                        </a>


                                        @if (c == 12)
                                        {
                                            c = 0;
                                            <div class="row">
                                                <div class="col-1">
                                                    <svg width="400" height="50">
                                                        <rect x="5" y="5" rx="5" ry="5" width="400" height="30"
                                                        style="fill:blue;stroke:black;stroke-width:5;opacity:0.8" />
                                                        </svg>
                                                </div>
                                            </div>
                                        }

                                    </div>


                                </div>

                            }
                            else
                            {
                                <div>

                                    Room Num:@item.RoomNumber<svg width="40" height="50">
                                        <rect x="5" y="5" rx="5" ry="5" width="30" height="30"
                                           style="fill:red;stroke:black;stroke-width:5;opacity:0.5" />


                                    </svg>

                                </div>
                            }
                        }

                    }
                </div>
                <div>
                    <br />
                </div>
            </center>
        </div>
   
    </body>