@model DeskEntity.Model.ReservedSeat

<h1>AddSeat</h1>


<form method="post" enctype="multipart/form-data">
    <h2>Seat</h2><hr />

    <div class="form-group">
        <label>ReservedSeatId</label>
        <input type="text" asp-for="SeatId" class="form-control"
               placeholder="enter seatnumber" required />
    </div>

    <div class="form-group">
        <label>ReservedBookingId</label>
        <input type="text" asp-for="BookingSeatId" class="form-control"
               placeholder="enter seatnumber" required />
    </div>


    <input type="submit" value="Save" class="btn btn-outline-success" />
    <input type="button" value="Reset" class="btn btn-outline-secondary" />
    <hr />
    @if (ViewBag.Status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message;
        </div>
    }

    else if (ViewBag.Status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message;
        </div>
    }
</form>

