@model DeskEntity.Model.Choices

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "DeleteChoices";
}

<div>
    <hr />
    <a asp-controller="Choices" asp-action="Index">Index</a>
    <hr />
</div>

<form method="post" enctype="multipart/form-data">
    <h2>Delete Choices</h2>
    <div class="form-group">
        <label> Choices Id </label>
        <input type="text" asp-for="ChoiceId" class="form-control" placeholder="enter Choices Id" required />
    </div>

    <input type="submit" value="Save" class="btn btn-outline-success" />
    <input type="button" value="Reset" class="btn btn-outline-secondary" />
    <hr />
    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>


