@model DeskEntity.Model.Employee;


@{
    ViewData["Title"] = "EmployeeRegister1";
}

<html>
<body style="background:-webkit-linear-gradient(left, #fff, #000)">
<section class="vh-70 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
                        <form method="post">

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                            <input required type="text" placeholder="" asp-for="EmployeeName" id="Name" class="form-control form-control-lg" />
                                        <label class="form-label" for="Name">Employee Name <span style="color:red">*</span></label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input required type="text" placeholder="" asp-for="EmployeeNumber" id="empNo" class="form-control form-control-lg" />
                                            <label class="form-label" for="empNo">Employee Number <span style="color:red">*</span></label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline w-100">
                                        <input type="text" required="" placeholder="" pattern="[0-9]{10}" value="" title='Please enter a valid 10 digit phone number.'  placeholder="" asp-for="PhoneNumber" class="form-control form-control-lg" id="phone" />
                                        <label for="phone" class="form-label">Phone Number <span style="color:red">*</span></label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                        <input type="text" placeholder="" asp-for="Role" id="role" class="form-control form-control-lg" />
                                        <label class="form-label" for="role">Role <span style="color:red">*</span></label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                            <input required type="email" placeholder="" asp-for="LoginTable.Email" id="emailAddress" class="form-control form-control-lg" />
                                            <label class="form-label" for="emailAddress">Email <span style="color:red">*</span></label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    <div class="form-outline">
                                            <input required="" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title='Please enter atleast 6 characters, 1 uppercase, 1 lowercase and 1 number.'  type="password" asp-for="LoginTable.Password" id="password" class="form-control form-control-lg" />
                                         <label class="form-label" for="password">Password <span style="color:red">*</span></label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <input required type="text" asp-for="SecurityQuestion" id="question" class="form-control form-control-lg" />
                                            <label class="form-label" for="question">What city were you born in? <span style="color:red">*</span></label>
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                            <select required class="form-control form-control-lg" asp-for="Gender">
                                                <option>Select</option>
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                                <option value="O">Others</option>   
                                            </select>
                                            <label class="form-label" for="gender">Gender <span style="color:red">*</span></label>
                                    </div>                                 
                                </div>
                            </div>
                            <div>
                                <input type="checkbox" name="checkbox" id="checkbox" required />
                                <span>
                                    I have read and agree to Deskify 
                                    <a href="https://google.com" target="_blank" rel="noopener noreferrer">
                                        User Agreement
                                    </a>and
                                    <a href="https://google.com" target="_blank" rel="noopener noreferrer">
                                        Privacy Policy.
                                    </a>
                                </span>
                            </div>
                            <center>
                                <div class="mt-4 pt-2">
                                        <input onclick="myfunction()" class="btn btn-dark btn-lg" type="submit" asp-route-Type="0" value="Register" />
                                </div>
                                <br />
                                <div>
                                     Already have an account?
                                     <a asp-controller="LoginTable" asp-action="Index">
                                         <span class="right-label">Login Here</span>
                                     </a>
                                </div>
                            </center>
                            </form>                         
                    </div>
              </div>
           </div>
        </div>
    </div>
</section>
    <script>
        function myfunction() 
        {
            console.log($('form')[0].checkValidity())
            if ($('form')[0].checkValidity()) 
            {
                alert("You are Successfully Registered. Please login to access your Profile!")
            }
        }
    </script>
</body>
</html>