@{
    ViewData["Title"] = "UpdatePassword";
}



@model DeskEntity.Model.Employee;
<form method="post">
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form>

                        @if (ViewBag.status == null)
                        {
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input asp-for="LoginTable.Password" required type="password" id="form3Example3" class="form-control form-control-lg"
                                       placeholder="Enter New Password" />
                                <label class="form-label" for="form3Example3">New Password</label>
                            </div>
                            <div class="form-outline mb-4">
                                <input asp-for="SecurityQuestion" required type="text" id="form3Example3" class="form-control form-control-lg"
                                       placeholder="Enter your Security code" />
                                <label class="form-label" for="form3Example3">Security Code</label>
                            </div>


                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" class="btn btn-primary btn-lg"
                                        style="padding-left: 2.5rem; padding-right: 2.5rem;" onclick="password()">
                                    Forget Password
                                </button>
                            </div>

                        }
                        else
                        {
                            @if (ViewBag.status == "Ok")
                            {
                                <script>
                                    alert("Password Updated Successfully!!")
                                </script>
                                <h2 class="text-xl-center">
                                    Password is updated successfully. <br>You can <a asp-controller="LoginTable" asp-action="Index">Login</a> now!!
                                </h2>

                            }
                            else if (ViewBag.status == "Error")
                            {
                                <h2 class="text-xl-center">
                                    You have entered wrong credentials. <br>You can <a asp-controller="Register" asp-action="ForgetPassword" style="color:red">Try Again</a>!!
                                </h2>

                            }
                        }
                    </form>
                </div>
            </div>
        </div>

    </section>
</form>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - DeskUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script>
    function password() {
        let val = confirm("Are you sure you want to update password?");
        if (val == false) {
            return event.preventDefault();
        }
    }
</script>
