@{
    ViewData["Title"] = "UpdatePassword";
}



@model DeskEntity.Model.Employee;
<form method="post">
    <section style="margin-top:70px">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="~/img/Secure data.gif"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form>
                        
                        @if (ViewBag.status == null)
                        {
                            <h3>Reset Password</h3>
                            <br />
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input asp-for="LoginTable.Password" required type="password" id="form3Example3" class="form-control form-control-lg"
                                       placeholder="Enter new password" />
                                <label class="form-label" for="form3Example3">New Password</label>
                            </div>
                            <div class="form-outline mb-4">
                                <input asp-for="SecurityQuestion" required type="text" id="form3Example3" class="form-control form-control-lg"
                                       placeholder="What city were you born in?" />
                                <label class="form-label" for="form3Example3">Security Question</label>
                            </div>


                            <div class="text-center text-lg-start mt-4 pt-2">
                                <button type="submit" class="btn btn-dark btn-lg"
                                        style="padding-left: 2.5rem; padding-right: 2.5rem;" onclick="password()">
                                    Change password
                                </button>
                            </div>

                        }
                        else
                        {
                            @if (ViewBag.status == "Ok")
                            {
                                <script>
                                    alert("Password Updated Successfully!!")
                                </script>
                                <h3 class="text-xl-center">
                                    Password is changed successfully. <br>You can <a asp-controller="LoginTable" asp-action="Index">Login</a> now.
                                </h3>

                            }
                            else if (ViewBag.status == "Error")
                            {
                                <h3 class="text-xl-center">
                                    You have entered wrong security answer.<br>You can <a asp-controller="Register" asp-action="ForgetPassword" style="color:red">Try Again</a>.
                                </h3>

                            }
                        }
                    </form>
                </div>
            </div>
        </div>

    </section>
</form>
<script>
    function password() {
        let val = confirm("Are you sure you want to change password?");
        if (val == false) {
            return event.preventDefault();
        }
    }
</script>
